@import 'src/assets/styles/variables';

.activeButton1 {
    background-color: $purple;
    position: absolute;
    top: 20px;
    left: 44px;
    width: 168px;
    height: 43px;
    border-radius: 10px;
    font-family: $default-font;
    font-size: 24px;
    color: #fff;
}

.activeButton2 {
    background-color: $purple;
    position: absolute;
    top: 20px;
    left: 212px;
    width: 168px;
    height: 43px;
    border-radius: 10px;
    font-family: $default-font;
    font-size: 24px;
    color: #fff;
}

.activeButton3 {
    background-color: $purple;
    position: absolute;
    position: absolute;
    top: 20px;
    left: 380px;
    width: 194px;
    height: 43px;
    border-radius: 10px;
    font-family: $default-font;
    font-size: 24px;
    color: #fff;
}

.button1 {
    background-color: $dark;
    position: absolute;
    top: 20px;
    left: 44px;
    width: 168px;
    height: 43px;
    border-radius: 10px;
    font-family: $default-font;
    font-size: 24px;
    color: #fff;
}

.button2 {
    background-color: $dark;
    position: absolute;
    top: 20px;
    left: 212px;
    width: 168px;
    height: 43px;
    border-radius: 10px;
    font-family: $default-font;
    font-size: 24px;
    color: #fff;
}

.button3 {
    background-color: $dark;
    position: absolute;
    top: 20px;
    left: 380px;
    width: 194px;
    height: 43px;
    border-radius: 10px;
    font-family: $default-font;
    font-size: 24px;
    color: #fff;
}

.text {
    position: absolute;
    top: 15px;
    right: 500px;
    font-family: $default-font;
    font-size: 32px;
    color: #565656;
}