@import 'src/assets/styles/variables';

.times{
    width: 79px;
    height: 41px;
    color: $dark;
    font-family: $default-font;
    font-size: 32px;
    position: absolute;
    top: 0px;
    right: 148px;
}

