@import '../../../../../assets/styles/variables';

.button {
    width: 387px;
    height: 63px;
    background-color: $dark;
    font-family: $default-font;
    font-size: 26px;
    color: #fff;
    position: absolute;
    top: 196px;
    right: 33px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}